<%= form_for(@shop) do |f| %>
  <div class="field">
    <%= f.label :shopname %><br>
    <%= f.text_field :shopname %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
